body{
  color: #40514E;
  text-align: center;
  margin: 0;
  font-family: 'Comfortaa', cursive;

}

h1{
  color: #aa26da;
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Bungee Shade', cursive;
}

h2{
  color: #18b0b0;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 20px auto auto auto;
  font-family: 'Baloo Bhaina 2', cursive;
}

h3{
  color: #18b0b0;
  font-size: 1.65rem;
  font-family: 'Baloo Bhaina 2', cursive;
}

p{
  line-height: 2;
  font-size: 1.2rem;
}

hr{
  color: #d4d7dd;
  width: 10%;
  border-style: none;
  border-top: dotted 10px;
}

.Im{
  color: #18b0b0;
}

.profile{
  padding-top: 65px;
  padding-bottom: 65px;
}

.skills{
  padding-top: 65px;
  padding-bottom: 65px;
}

.hobbies{
  padding-top: 65px;
  padding-bottom: 65px;
}

.pro{
  text-decoration: underline;
  color: gold;
}

.profile-pic{
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  background-color: #f4dada;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 40px;
}

.top-cloud{
  position: absolute;
  right: 350px;
}

.bottom-cloud{
  position: absolute;
  left: 350px;
}

.skill-row{
  margin: auto;
  width: 50%;
}
.programming-gif{
  width: 55%;
}
.webdev-gif{
  width: 65%;
}
.drawing-gif{
  width: 50%;
}
.football-gif{
  width: 80%;
}
.plain-gif-texts{
  margin-top: 0;
}

.contact-me{
  padding-top: 65px;
  padding-bottom: 65px;
}

#getintouch{
  margin-top: 0;
}

.contact-message{
  margin: 40px auto 40px auto;
}

.btn{
  margin: 65px auto 65px auto;
}

.footer-link{
  font-size: 1.2rem;
  color: #11999E;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: bold;
  text-decoration: none;
  padding: 0 20px;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  margin-top: 30px;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Baloo Bhaina 2', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
